<nav class="courseindex">
    <div class="courseindex">
        <div class="courseindex-item-content">
            <ul class="courseindex-sectioncontent unlist">
                {{#customlinks}}
                    <li class="courseindex-item">
                        <a class="courseindex-link" href="{{{url}}}"> {{name}} </a>
                    </li>
                {{/customlinks}}
            </ul>
        </div>
    </div>
</nav>